@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body * {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
$breakpoint argument choices: 
    -phone
	-tablet
    -desktop

*/
header {
  padding-top: 50px;
  background-color: var(--header-bg);
  height: 250px;
  border-radius: 0 0 20px 20px;
}
header .main {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 720px) {
  header {
    height: 300px;
  }
}

.header-btn-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 720px) {
  .header-btn-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.dashboard-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.dashboard-info h2 {
  font-size: 30px;
  padding-bottom: 10px;
}
.dashboard-info h5 {
  color: var(--text-grey);
  font-size: 15px;
}
@media (max-width: 720px) {
  .dashboard-info h5 {
    padding-bottom: 25px;
  }
}
@media (max-width: 720px) {
  .dashboard-info {
    border-bottom: 1px solid var(--text-grey);
    padding-bottom: 0;
  }
}

.overview-today {
  padding-bottom: 45px;
  font-size: 30px;
}

.wrapper {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
}
@media (max-width: 720px) {
  .wrapper {
    flex-direction: column;
    width: 90%;
  }
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 80%;
}
@media (max-width: 720px) {
  section {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}

.btn-container {
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 720px) {
  .btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
}
.btn-container p {
  padding: 10px 15px 0 0;
  color: var(--text);
}
@media (max-width: 720px) {
  .btn-container p {
    color: #9299b6;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #4695d0, #00a6d3, #00b5c8, #00c0b1, #4dc993);
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--toggle-btn);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #9299b6;
}
input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/*
$breakpoint argument choices: 
    -phone
	-tablet
    -desktop

*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 30px 0;
  background-color: var(--light-bg);
  border-radius: 5px;
  width: 25%;
  overflow: hidden;
}
.card:hover {
  background-color: var(--hover);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
@media (max-width: 720px) {
  .card {
    width: 100%;
  }
}
.card .curved-border-instagram {
  width: 100%;
  border-radius: 5px;
  border-top: 5px solid;
  border-image: linear-gradient(to right, #f8c06b, #ffa167, #fd8270, #f16681, #d85395);
  border-image-slice: 1;
  border-radius: 5px;
}
.card .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 20px 0 30px 0;
}
.card .followers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .followers h2 {
  font-size: 60px;
  margin: 0;
}
@media (max-width: 919px) {
  .card .followers h2 {
    font-size: 40px;
  }
}
.card .followers p {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 400;
  color: var(--text-grey);
  font-size: 13px;
  margin: 0;
}
@media (max-width: 919px) {
  .card .followers p {
    font-size: 9px;
  }
}
.card .overview {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-top: 30px;
}
.card .overview p {
  font-weight: 800;
  font-size: 14px;
}
.card .overview .increasing {
  color: #1eb589;
  margin: 0;
}
.card .overview .decreasing {
  color: #dc414c;
  margin: 0;
}

.facebook,
.twitter {
  border-top: 5px solid #2989e0;
}

.youtube {
  border-top: 5px solid #b30a30;
}

.small-card {
  background-color: var(--light-bg);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.small-card:hover {
  background-color: var(--hover);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.small-card .page-views {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.small-card .page-views p {
  color: var(--text-grey);
  font-weight: 600;
}
.small-card .numbers-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.small-card .numbers-wrapper p {
  font-size: 40px;
  margin: 0;
}
.small-card .numbers-wrapper .percentage-wrapper {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  align-items: center;
  font-size: 20px;
  align-self: flex-end;
  gap: 5px;
}
.small-card .numbers-wrapper .percentage-wrapper h6 {
  font-size: 12px;
  margin: 0;
}
@media (max-width: 720px) {
  .small-card .numbers-wrapper .percentage-wrapper h6 {
    font-size: 18px;
  }
}
.small-card .numbers-wrapper .percentage-wrapper .increasing {
  color: #1eb589;
}
.small-card .numbers-wrapper .percentage-wrapper .decreasing {
  color: #dc414c;
}

/*
$breakpoint argument choices: 
    -phone
	-tablet
    -desktop

*/
.total-followers-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 70px;
  margin-top: -100px;
}
@media (max-width: 720px) {
  .total-followers-list {
    display: flex;
    flex-direction: column;
    margin-top: -50px;
  }
}

.today-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
@media (max-width: 720px) {
  .today-list {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 919px) {
  .today-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

html {
  --bg: #1d2029;
  --light-bg: #252b43;
  --header-bg: #20222f;
  --text: #f3f3f3;
  --text-grey: #9299b6;
  --hover: #333a56;
  --toggle-btn: #343956;
}

html[data-theme=light] {
  --bg: #ffffff;
  --light-bg: #f0f3fa;
  --header-bg: #f8f9fe;
  --text: #161922;
  --text-grey: #6e727f;
  --hover: #e1e3f0;
  --toggle-btn: #f1f4fd;
}

/*
$breakpoint argument choices: 
    -phone
	-tablet
    -desktop

*/
/*# sourceMappingURL=main.css.map */