@import "../abstracts/mixins";

.total-followers-list {
	list-style-type: none;
	display: flex;
	justify-content: center;
	gap: 30px;
	padding-bottom: 70px;
	margin-top: -100px;

	@include respond(phone) {
		display: flex;
		flex-direction: column;
		margin-top: -50px;
	}
}

.today-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;

	@include respond(phone) {
		display: flex;
		flex-direction: column;
	}
	@include respond(tablet) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}
